h1 {
  color: #5a6275;

  font-weight: 600;
  font-size: 45px;
  text-transform: capitalize;
}

form {
  padding-top: 20px;
}
li,
li #humidity,
li #wind {
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  text-align: left;
  margin-left: 0;
  text-indent: none;
  position: relative;
  top: 9px;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
}
.currentTemp,
.tempUnit {
  color: #5a6275;
  font-size: 60px;
  color: #f3a633;
  font-weight: lighter;
}

#description {
  color: #f3a633;
  font-size: 25px;
  text-transform: capitalize;
  position: relative;
  right: 29px;
}
#date {
  color: #5a6275;
  font-size: 15px;

  position: relative;
  right: 29px;
}
.yellow-button {
  color: #f3a633;
  background-color: white;
}
#current-location {
  color: #f3a633;
  background-color: white;
  padding: 6px;
  border-color: #f3a633;
  border-width: thin;
  border-radius: 4px;
}
.current {
  color: #5a6275;
  font-size: 20px;
}
.main-icon {
  font-size: 65px;
  color: #5a6275;
  position: relative;
  left: 25px;
}
.weather-forecast {
  text-align: center;
  color: #5a6275;
  font-size: 15px;
  margin-top: 20px;
}
.weather-forecast-icon {
  display: block;
  text-align: center;
  width: 60px;
}

.weather-forecast-temp-max {
  font-size: 12px;
}
.weather-forecast-temp-min {
  font-size: 12px;
  opacity: 0.7;
}

#celsius {
  text-decoration: none;
  color: #5a6275;
  position: relative;
  bottom: 30px;
}
.githubLink {
  font-size: smaller;

  color: #5a6275;
  padding: 10px;
}
.degrees .active {
  color: #5a6275;
  cursor: default;
}
